.cB ol {
    margin-block-start: 4px;
    margin-block-end: 4px;
    padding-inline-start: 20px;
}

h3.gramGrp {
    background-color: pink;
}

.h2_entry, .h3_entry {
  margin-block-start: 0;
  margin-block-end: 0;
}

.h2_entry, .h2_entry + * {
  display: inline;
}
