<!DOCTYPE html>
<html>
<head>
<style>
body {font-size: 85%;} 
button, input {font-size: 65%;}
em   {font-weight: bold; color: red; background-color: lemonchiffon;}
</style>
<link rel="stylesheet" href="/static/{{ service_name }}.css">
</head>
<body>
	<div id='navi'>
		<button onclick="history.back()">🔙</button>
		<input id='query' type="text" value="{{ payload.query }}">
		<input id='go' type=button onClick="parent.location='?query=' + document.getElementById('query').value" value='GO'>
		<input id='refresh' type=button onClick="parent.location='?query={{ payload.query }}&refresh=true'" value='Refresh'>
	</div>
	<div>
	{% for item in responses %}
	{{ item|safe }}
	{% endfor %}
	</div>
	{% if url is defined %}
	<p><a href="{{ url }}">{{ url }}</a></p>
	{% endif %}
</body>
</html>
